/* general style */
#main-content {
  margin: 50px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  font-size: 2.4rem;
  font-weight: bold;
}

.logo .news {
  color: #ce1212;
}

.spinner-border {
  display: block !important;
  margin: 0 auto !important;
}

h1 {
  text-align: center;
}

.h3 {
  font-size: 0.9rem;
}

.link-btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.custom-btn {
  background-color: black;
  color: white;
  border: 2px solid transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.custom-btn:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.btn-hidden-design {
  background: none;
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER */
.user-logged {
  font-weight: 600;
  padding: 0.5rem;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-logged span {
  color: #ce1212;
}

#basic-navbar-nav a {
  color: black;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}

#basic-navbar-nav a:hover {
  color: #ce1212;
  border-bottom-color: #ce1212;
}

/* blog */
#filter {
  text-align: right;
}

#articles-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#articles-list .card {
  margin: 20px;
}

#articles-list .card .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* single page article */
@media screen and (min-width: 768px) {
  #single-article-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #single-article-page article {
    min-width: 70%;
    margin-right: 50px;
  }
  #single-article-page article h1 {
    font-size: 2.2rem;
  }
  #single-article-page article #featured-image {
    width: 100%;
    margin: 20px 0;
    text-align: left;
  }
  .last-news-sidebar {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .last-news-sidebar .feature-img {
    width: 30%;
    background-color: green;
    margin-right: 20px;
  }
  .last-news-sidebar .feature-img img {
    width: 100%;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 2px 2px 6px #eee;
            box-shadow: 2px 2px 6px #eee;
  }
  .last-news-sidebar .text {
    width: 60%;
  }
}

#single-article-page article {
  margin-bottom: 40px;
}

#single-article-page article h1 {
  font-size: 1.8rem;
}

#single-article-page article #featured-image {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

#single-article-page article #body {
  text-align: left !important;
  margin-bottom: 40px;
}

/* Comments component inside single article page */
#comments form,
#comments input,
#comments label,
#comments textarea {
  width: 100%;
}

#comments #post-comment {
  margin-bottom: 30px;
}

#comments .comment {
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comments .comment .comment-data {
  width: 80%;
}

.new-comment-posted {
  -webkit-box-shadow: #77df8e 0px 2px 6px !important;
          box-shadow: #77df8e 0px 2px 6px !important;
}

/* USERS */
#users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#users .user-card {
  min-width: 20%;
  margin: 20px;
  text-align: center;
}

#users .user-card img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  padding: 30px;
}

/* END USERS */
/* sidebar*/
aside {
  min-width: 25%;
  height: 80vh;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

aside section {
  margin-bottom: 30px;
}

aside #topics-list ul {
  list-style: none;
  padding-left: 0px;
}

aside #topics-list li a {
  text-decoration: none;
  font-weight: bold;
  color: #ce1212;
}

/* FOOTER */
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer-nav ul li {
  margin: 0 20px;
  list-style: none;
}

footer #footer-nav ul li a {
  color: #ce1212;
  font-weight: bold;
  text-decoration: none;
}

footer #footer-nav ul li a:hover {
  color: black;
}
/*# sourceMappingURL=style.css.map */